body {
  background-image: url("https://img.freepik.com/free-photo/sky-clouds-background_1127-3837.jpg?w=1380&t=st=1679322777~exp=1679323377~hmac=35f3e1c0e99e15d75748b087548a406a247b21c028480b8173d578b90c162a35");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#standard-basic {
  color: white;
}

#btn {
  margin-top: 6px;
}

.inp-by-numb {
  justify-self: center;
}
#outlined-number {
  color: white;
}

